/* Footer Styling */
footer {
    display: flex;
    background-color: #ccffff;
    padding: 10px;
}
 
.copyright {
    align-self: flex-end;
    color: teal;
    margin: 0;
}

div h4 {
    font-family: 'Merienda', cursive;
    font-size: 18pt;
    padding: 5px;
}

.contactMartin  {
    display: flex;
    margin-left: 0;
    padding-bottom: 30px;
}

.socialMedia {
    display: flex;
    align-items: center; 
    padding-left: 10px;
} 
 
.socialMedia img {
    width: 35px;
    padding: 8px;
} 