@import "header.css";
@import "footer.css";
@import "contentRight.css";
@import "contentLeft.css";
@import "cards.css";
 
/* --- Styling for Main --- */
body { 
    margin: 0;
}
 
p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.contentContainer {
    display: flex;
    flex-wrap: wrap;
    background-color: #001a33;
    justify-content: space-around;
}
