
body { 
    margin: 0;
    background-color: #001a33;
}
 
p {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

/* Header Styling */
header {
    background-color: #ccffff;
    display: flex;
    align-items: center;
    font-size: x-large;
    font-family: 'Merienda', cursive;
    width: 100%;
}

header img {
    width: 15%;
    padding: auto;
    align-self: left;
    margin-left: 20px;
}

/* Styling for Middle Section */
.contentContainer {
    display: flex;
    flex-wrap: wrap;
    background-color: #001a33;
    justify-content: space-around;
}

/* Left */
.containerLeft {
    display: flex;
    flex-direction: column;
    flex-basis: 73%;
    border-radius: 5px;
    margin-right: 0;
}

.containerLeft h2 {
    width: 100%;
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    color: #001a33;
    font-family: 'Merienda', cursive;
}

/* Right */
.containerRight {
    flex-basis: 24%;
    margin: 20px 0;
    height: auto;
    min-width: 300px;
    padding: 10px 20px;
    
}

.containerRight div {
    background-color: teal;
    color: seashell;
    padding: 20px 40px;
    height: auto;
    border-radius: 5px;
    align-content: flex-start;
    
}

/* Sub Heading Style */
div h2 {
    font-family: 'Merienda', cursive;
    color: seashell;
    font-size: xx-large;
}

/* Left Article Styling */
.contentArticle {
    display: flex;
    flex-flow: row wrap;
    background-color: #5cd6d6;
    margin: 30px;
    padding: 10px;
    justify-content: space-evenly;
    border-radius: 5px;
    padding-bottom: 20px;
}

/* Card Text Spacing */
.contentArticle p {
    margin: 2px;
}

/* Styling for All Cards */
.contentArticle div {
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 15px;
    width: 250px;
    border-radius: 5px;
    height: auto;
    border-right: darkcyan 2px solid;
    border-bottom: darkcyan 2px solid;
}

/* Aquarium Fish */
.fishCard {
    background-color: teal;
    color: seashell;
}

.fishCard img {
    width: 100%;
    padding: 5px;
    height: 190px;
    align-self: center;
    border-radius: 10px;
}

/* Travel Advice */
.quoteCard {
    background-color: teal;
    color: seashell;
}

.quoteCard__text {
    padding: 10px;
    font-size: 14pt;
}

/* Locations of Harvest */
.locationCard {
    background-color: teal;
    color: seashell;
}

.locationCard img {
    padding-bottom: 10px;
    height: 190px;
}

/* Footer Styling */
footer {
    display: flex;
    background-color: #ccffff;
    justify-content: space-evenly;
    padding: 30px;
    font-family: 'Merienda', cursive;
}